
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Contact Us</h2>
            <div class="row">
                <%= simple_form_for @contact, :html => {:class => 'col s12' } do |f| %>
                <div class="row">
                    <div class="input-field col m6 s12">
                        <%= f.input :name, :required => true, :class => "validate", :id => "first_name" %>
                    </div>
                    <div class="input-field col m6 s12">
                        <%= f.input :email, :required => true %>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m12 s12">
                        <%= f.input :message, :as => :text, :required => true %>
                    </div>
                    <div class= "hidden">
                        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    </div>
                </div>
                <div>

                    <div class="row">
                        <div class="col m6">
                             </br>
                                <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

